In [1]:

import pandas as pd
import numpy as np
import tensorflow as tf
import itertools
import matplotlib.pyplot as plt
import time

from envs import OfflineEnv
from recommender import DRRAgent

import os

ROOT_DIR = os.getcwd()
DATA_DIR = os.path.join(ROOT_DIR, 'floral-dataset/')
STATE_SIZE = 10

C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:

ratings_list = [i.strip().split("::") for i in open(os.path.join(DATA_DIR,'ratings.dat'), 'r').readlines()]
users_list = [i.strip().split("::") for i in open(os.path.join(DATA_DIR,'users.dat'), 'r').readlines()]
florals_list = [i.strip().split("::") for i in open(os.path.join(DATA_DIR,'florals.dat'),encoding='latin-1').readlines()]
ratings_df = pd.DataFrame(ratings_list, columns = ['UserID', 'floralID', 'Rating', 'Timestamp'], dtype = np.uint32)
florals_df = pd.DataFrame(florals_list, columns = ['floralID', 'Title', 'Genres'])
florals_df['floralID'] = florals_df['floralID'].apply(pd.to_numeric)

In [3]:

florals_id_to_florals = {floral[0]: floral[1:] for floral in florals_list}

In [4]:
len(florals_list)

4040

In [5]:
ratings_df.head(5)

  UserID floralID Rating  Timestamp
0      1     1193      5  978300760
1      1      661      3  978302109
2      1      914      3  978301968
3      1     3408      4  978300275
4      1     2355      5  978824291

In [6]:

ratings_df.isnull().sum()

UserID       0
floralID     0
Rating       0
Timestamp    0
dtype: int64

In [7]:

print(len(set(ratings_df["UserID"])) == max([int(i) for i in set(ratings_df["UserID"])]))
print(max([int(i) for i in set(ratings_df["UserID"])]))

True
6040

In [8]:
ratings_df = ratings_df.applymap(int)

In [9]:

users_dict = {user : [] for user in set(ratings_df["UserID"])}
users_dict[1]

[]

In [10]:

ratings_df = ratings_df.sort_values(by='Timestamp', ascending=True)
ratings_df.head(5)

         UserID  floralID  Rating  Timestamp
1000138    6040       858       4  956703932
1000153    6040      2384       4  956703954
999873     6040       593       5  956703954
1000007    6040      1961       4  956703977
1000192    6040      2019       5  956703977

In [11]:

ratings_df_gen = ratings_df.iterrows()
users_dict_for_history_len = {user : [] for user in set(ratings_df["UserID"])}
for data in ratings_df_gen:
    users_dict[data[1]['UserID']].append((data[1]['floralID'], data[1]['Rating']))
    if data[1]['Rating'] >= 4:
        users_dict_for_history_len[data[1]['UserID']].append((data[1]['floralID'], data[1]['Rating']))

In [12]:

users_history_lens = [len(users_dict_for_history_len[u]) for u in set(ratings_df["UserID"])]

In [13]:
len(users_history_lens)

6040

In [14]:
users_dict[1]

[(3186, 4),
 (1270, 5),
 (1721, 4),
 (1022, 5),
 (2340, 3),
 (1836, 5),
 (3408, 4),
 (1207, 4),
 (2804, 5),
 (720, 3),
 (260, 4),
 (1193, 5),
 (919, 4),
 (608, 4),
 (2692, 4),
 (1961, 5),
 (2028, 5),
 (3105, 5),
 (938, 4),
 (1035, 5),
 (1962, 4),
 (150, 5),
 (1028, 5),
 (2018, 4),
 (1097, 4),
 (914, 3),
 (1287, 5),
 (2797, 4),
 (2762, 4),
 (1246, 4),
 (661, 3),
 (2918, 4),
 (531, 4),
 (3114, 4),
 (2791, 4),
 (2321, 3),
 (1029, 5),
 (1197, 3),
 (594, 4),
 (2398, 4),
 (1545, 4),
 (527, 5),
 (595, 5),
 (2687, 3),
 (745, 3),
 (588, 4),
 (1, 5),
 (2294, 4),
 (783, 4),
 (2355, 5),
 (1907, 4),
 (1566, 4),
 (48, 5)]

In [15]:
np.save("./data/user_dict.npy", users_dict)
np.save("./data/users_histroy_len.npy", users_history_lens)

In [16]:
users_num = max(ratings_df["UserID"])+1
items_num = max(ratings_df["floralID"])+1

In [17]:
print(users_num, items_num)

6041 3953

### Training setting

In [18]:
train_users_num = int(users_num * 0.8)
train_items_num = items_num
print(train_users_num, train_items_num)

4832 3953

In [19]:
train_users_dict = {k:users_dict[k] for k in range(1, train_users_num+1)}
train_users_history_lens = users_history_lens[:train_users_num]
print(len(train_users_dict),len(train_users_history_lens))

4832 4832

### Evaluating setting

In [20]:
eval_users_num = int(users_num * 0.2)
eval_items_num = items_num
print(eval_users_num, eval_items_num)

1208 3953

In [21]:
eval_users_dict = {k:users_dict[k] for k in range(users_num-eval_users_num, users_num)}
eval_users_history_lens = users_history_lens[-eval_users_num:]
print(len(eval_users_dict),len(eval_users_history_lens))

1208 1208

### Evalutation

In [22]:
def evaluate(recommender, env, check_florals = False, top_k=False):


    episode_reward = 0
    steps = 0
    mean_precision = 0
    mean_ndcg = 0

    user_id, items_ids, done = env.reset()
    if check_florals:
        print(f'user_id : {user_id}, rated_items_length:{len(env.user_items)}')
        print('items : \n', np.array(env.get_items_names(items_ids)))

    while not done:

    
        user_eb = recommender.embedding_network.get_layer('user_embedding')(np.array(user_id))
        items_eb = recommender.embedding_network.get_layer('floral_embedding')(np.array(items_ids))
    
        state = recommender.srm_ave([np.expand_dims(user_eb, axis=0), np.expand_dims(items_eb, axis=0)])
      
        action = recommender.actor.network(state)
   
        recommended_item = recommender.recommend_item(action, env.recommended_items, top_k=top_k)
        if check_florals:
            print(f'recommended items ids : {recommended_item}')
            print(f'recommened items : \n {np.array(env.get_items_names(recommended_item), dtype=object)}')
  
        next_items_ids, reward, done, _ = env.step(recommended_item, top_k=top_k)
        if top_k:
            correct_list = [1 if r > 0 else 0 for r in reward]
    
            dcg, idcg = calculate_ndcg(correct_list, [1 for _ in range(len(reward))])
            mean_ndcg += dcg/idcg
            

            correct_num = top_k-correct_list.count(0)
            mean_precision += correct_num/top_k
            
        reward = np.sum(reward)
        items_ids = next_items_ids
        episode_reward += reward
        steps += 1
        
        if check_florals:
            print(f'precision : {correct_num/top_k}, dcg : {dcg:0.3f}, idcg : {idcg:0.3f}, ndcg : {dcg/idcg:0.3f}, reward : {reward}')
            print()
        break
    
    if check_florals:
        print(f'precision : {mean_precision/steps}, ngcg : {mean_ndcg/steps}, episode_reward : {episode_reward}')
        print()
    
    return mean_precision/steps, mean_ndcg/steps

def calculate_ndcg(rel, irel):
    dcg = 0
    idcg = 0
    rel = [1 if r>0 else 0 for r in rel]
    for i, (r, ir) in enumerate(zip(rel, irel)):
        dcg += (r)/np.log2(i+2)
        idcg += (ir)/np.log2(i+2)
    return dcg, idcg

In [23]:
tf.keras.backend.set_floatx('float64')